﻿@using Sitecore
@using Sitecore.Mvc
@using Sitecore.Security.Accounts

@model IEnumerable<Sitecore.Data.SignInUrlInfo>

@{
  var userName = "Anonymous";
  if (Sitecore.Context.User != null)
  {
    userName = Sitecore.Context.User.DisplayName;
  }

}
<p>@userName</p>
@foreach (var signIn in Model)
{
  using (Html.BeginForm(null, null, FormMethod.Post, new { @action = signIn.Href }))
  {
    <button type="submit">
      <img src="@signIn.Icon" />
      @signIn.Caption
    </button>
  }
}